/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
  /* background-color: hsl(228, 13%, 15%); */
}

html{
  font-size:16px;
  background-color: #201f28;
}

html,
button{
  font-family: "Quicksand", "sans-serif";
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}
